@font-face {
    font-family: 'Discord1';
    src: url('../Assets/Fonts/discord1.woff');
}
@font-face {
    font-family: 'Discord2';
    src: url('../Assets/Fonts/discord2.woff2');
}
@font-face {
    font-family: 'Discord3';
    src: url('../Assets/Fonts/discord3.woff');
}
@font-face {
    font-family: 'Discord4';
    src: url('../Assets/Fonts/discord4.woff2');
}
@font-face {
    font-family: 'Discord5';
    src: url('../Assets/Fonts/discord5.woff');
}
@font-face {
    font-family: 'Discord6';
    src: url('../Assets/Fonts/discord6.woff');
}